// Colors

$primary-background:#303030;
$secondary-background:#f77f00;
$primary-font-color:#ffffff;
$secondary-font-color:#9a9a9a;
$highlight-font-color:#f77f00;



// Fonts
$primary-font:  Arial, Helvetica, sans-serif;
$secondary-font: 'Open Sans', sans-serif;





